<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="BirthdayManager"
            icon="icons/sample.gif"
            category="at.fh_joanneum.swd.pmt.ui"
            class="at.fhjoanneum.swd.pmt.birthdaymanager.ui.views.SampleView"
            id="at.fhjoanneum.swd.pmt.birthdaymanager.ui.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="at.fhjoanneum.swd.pmt.birthdaymanager.ui.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
