<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Chat View"
            icon="icons/sample.gif"
            category="at.fh_joanneum.swd.pmt.ui"
            class="at.fh_joanneum.swd.pmt.chat.ui.views.SampleView"
            id="at.fh_joanneum.swd.pmt.chat.ui.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="at.fh_joanneum.swd.pmt.chat.ui.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
